<h1 style="text-align: center;">Alpha-Blog About</h1>

<div style="width: 80%; margin-left: auto; margin-right: auto;">
  <div style="
    border: 1px solid black; background-color: #c8c8c8; width: 90%; 
    height: 300px; margin-left: auto; margin-right: auto; overflow: hidden;
  ">
    <p style="padding: 5px 10px 5px 10px;">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id mauris 
      vulputate, elementum velit nec, posuere est. Quisque pharetra velit ac 
      viverra semper. Cras quis risus imperdiet, accumsan justo vel, ornare 
      nunc. Nulla non erat quam. Pellentesque ac sapien nec ligula vehicula 
      elementum sit amet eget lacus. Donec tincidunt aliquam consectetur. Donec 
      nisi libero, eleifend vel ante nec, commodo faucibus lacus. Aliquam 
      fermentum ultricies neque vestibulum finibus. Nam ornare ipsum ut nunc 
      interdum pharetra. Nunc accumsan felis malesuada risus cursus, eu gravida 
      orci fermentum.
    </p>

    <p style="padding: 5px 10px 5px 10px;">
      Vestibulum non lobortis mauris, at maximus massa. Mauris laoreet justo 
      vel nisi hendrerit fermentum nec ac eros. Nunc tempor erat nisl, nec 
      varius justo volutpat vel. Vivamus vel mauris sollicitudin, imperdiet 
      arcu sit amet, tristique augue. Nam at porta est, quis elementum sapien. 
      Proin sit amet justo ac enim vestibulum euismod. In mattis porta finibus.
    </p>  
  </div>
</div>

<h3 style="clear: both; text-align: center; padding-top: 20px;">
  Visit the other page: <%= link_to 'Home', root_path %>
</h3>