<h1 style="text-align: center;">Alpha-Blog Home</h1>

<div style="width: 80%; margin-left: auto; margin-right: auto;">
  <div style="
    float: left; width: 45%; height: 300px; border: 1px solid black; 
    background-color: #c8c8c8; color: inherit; overflow: hidden;
  ">
    <p style="
      font-weight: bold; font-size: 1.1em; padding: 5px 10px 5px 10px;
    ">
        News
    </p>
    <p style="padding: 5px 10px 5px 10px;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur 
        scelerisque nisl risus, non luctus dui lacinia ut. Sed a velit vel diam 
        pretium semper bibendum quis sapien. Duis tincidunt tortor sed nisi 
        euismod, vel cursus diam iaculis. In placerat, mi non accumsan 
        vestibulum, velit mi facilisis magna, quis aliquam lacus ante vitae 
        sem. Pellentesque ac sodales risus. Aliquam tristique lacus arcu, ut 
        ultricies ante venenatis vel. Nunc vitae sem ullamcorper purus pulvinar 
        eleifend. Praesent efficitur, eros imperdiet aliquam sagittis, nisl 
        nisi mattis arcu, id ultricies nunc nunc eu odio. Phasellus ornare 
        rhoncus semper. Aenean eget sapien elementum, hendrerit neque a, 
        posuere nibh. Nam suscipit lectus ac consectetur tristique. Morbi 
        egestas pellentesque turpis vitae tempus. Nunc mattis consequat nibh.
      </p>
  </div>
  <div style="
    float: right; width: 45%; height: 300px; border: 1px solid black; 
    background-color: #c8c8c8; color: inherit; overflow: hidden;
  ">
    <p style="
      font-weight: bold; font-size: 1.1em; padding: 5px 10px 5px 10px;
    ">
      Recent Posts
    </p>
    <p style="padding: 5px 10px 5px 10px;">
      <b>10/25/2017 7:50pm by Test User:</b>  Aenean velit odio, laoreet non 
      eleifend ut, tempor ac ante. Mauris malesuada sagittis enim, vel 
      efficitur dolor interdum congue. In laoreet quam vulputate consequat 
      imperdiet. Duis ut mauris in ante lacinia suscipit. Quisque ac lobortis 
      magna. Integer hendrerit, augue vel vehicula semper, eros leo auctor 
      ante, id congue sapien turpis sed ante. Praesent quis arcu et nisi 
      faucibus posuere ac vitae ante. Sed fermentum augue mauris, vitae cursus 
      est sodales id. Etiam sodales, ante id pulvinar pellentesque, tellus 
      lectus vehicula libero, a tincidunt neque erat eget quam. Proin gravida 
      magna a iaculis tincidunt. Phasellus eget sollicitudin turpis, non 
      elementum nibh. Donec rhoncus finibus consectetur. Vestibulum luctus 
      mauris eget porttitor fermentum. Phasellus vitae leo eros. Nam 
      sollicitudin dui nec sem mollis fermentum. Nam et varius dui.
    </p>  
  </div>
  
</div>

<h3 style="clear: both; text-align: center; padding-top: 20px;">
  Visit the other page: <%= link_to 'About', about_path %>
</h3>